{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="Our Similar Movie Picker suggests films based on your preferred movie. Get recommendations on one click">
<meta name="keywords" content="choose a movie for me, movie for me, movie suggestions, movie recommendations, pick a movie, recommend me a movie, what movie to watch, suggest me a movie, movie suggestion website, movie recommendation website, movieforme, movie for me, movie suggestions, movie recommendations, pick a movie, recommend me a movie, what movie to watch, suggest me a movie, movie suggestion website, movie recommendation website, movieforme, similar movies, best similar movies, movie picker, best similar movies, movie picker app, date night movie picker, random movie, couple movie picker, random movie picker, movie date picker, movie picker for couples, similar movie generator, random movie suggestions, similar movie finder, disney movie picker, pick a random movie">
{% endblock %}

{% block title %}
Similar Movie Picker
{% endblock %}

{% block content %}
<div class='flex items-center flex-col'>
  <div class="max-w-lg my-10 bg-[#1c1c1cd6] border-2 border-white shadow-lg rounded-lg overflow-hidden mx-10">
      <div class="text-2xl py-4 px-6 text-yellow-500 text-center font-bold uppercase">
          <h1>Similar Movie Picker</h1>
      </div>
      <form class="py-4 px-6" method="POST">
        {% csrf_token %} 
        <div class="mb-4">
            <label class="block text-yellow-500 font-bold mb-2" for="movie">
                Select a Movie
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="movie" id="movie">
                    {% for title in titles %}
                    <option value="{{ title }}">{{ title }}</option>
                    {% endfor %}
            </select>
        </div>
        
        
        <div class="flex items-center justify-center mb-4">
            <button
                class="cursor-pointer mt-3 border-2 border-gray-300 shadow-sm rounded-full py-3.5 px-7 w-52 flex justify-center items-center bg-[#1c1c1cd6] text-yellow-500 font-semibold mx-auto transition-all duration-300 hover:text-black hover:bg-gray-100"
                type="submit">
                Suggest
            </button>
        </div>

    </form>
          
      </div>
    </div>

    <div class='flex justify-center items-center flex-wrap w-auto'>
      {% for movie in recommended %}
      <div class="relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80 mx-5 my-10">
         <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white shadow-lg rounded-xl h-50 bg-cover">
           <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"  alt="profile-picture" />
         </div>
         <div class="p-6 flex gap-4">
           <h4 class="block mb-2 font-sans text-lg antialiased font-semibold leading-snug tracking-normal text-blue-gray-900 flex-grow">
             {{ movie.title }}
           </h4>
           <p
             class="block font-sans text-sm antialiased font-medium leading-relaxed bg-clip-text bg-gradient-to-tr from-blue-gray-600 to-blue-gray-400">
             {{ movie.average_vote }}
           </p>
         </div>
       </div>
         {% endfor %}
         </div>

         <section class="w-3/4 flex flex-col items-center mx-auto bg-[#1c1c1cd6] my-10 rounded-2xl border-solid border-2 border-white">
          <div class="container px-6 py-10 mx-auto">
              <h1 class="text-3xl text-center font-semibold capitalize lg:text-4xl text-yellow-500">How to use Similar Movie<br>Picker?</h1>
              
              <p class="mt-4 text-gray-300 xl:mt-6 dark:text-gray-300">
    Similar Movie Suggestion helps to find movies which are similar to what you have watched.</p>
              
              <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
                  <div class="p-8 space-y-3 border-2 border-white rounded-xl">
                      <span class="inline-block text-yellow-500">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                          </svg>
                      </span>
      
                      <h1 class="text-2xl font-semibold text-white">Fill the form</h1>
      
                      <p class="text-gray-300">
                          Fill the given form, dont leave any input field for better movie suggestion</p>
                  </div>
      
                  <div class="p-8 space-y-3 border-2 border-white rounded-xl">
                      <span class="inline-block text-teal-500">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                          </svg>
                      </span>
      
                      <h1 class="text-2xl font-semibold text-white">Click on Submit</h1>
      
                      <p class="text-gray-300">
                          Once the form is completed, click on the button given below the form.</p>
                  </div>
      
                  <div class="p-8 space-y-3 border-2 border-white rounded-xl">
                      <span class="inline-block text-purple-500">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                          </svg>
                      </span>
      
                      <h1 class="text-2xl font-semibold text-white">Get the suggestion</h1>
      
                      <p class="text-gray-300">
                          Suggestions will be displayed below the form</p>
                  </div>
              </div>
          </div>
      </section>


      <section class="flex flex-col items-center mx-auto bg-[#1c1c1cd6] w-full md:w-3/4 border-y-2 border-x-0 border-solid border-white">
        <div class="container px-6 py-10 mx-auto">
            <h2 class="mt-2 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Best Similar Movies</h2>
            
            <p class="text-gray-300 xl:mt-4 dark:text-gray-300">
              ChooseMovieForME has a wide range of similar movies to suggest. These movies are picked based on your prefered movie. We have around 5000 movies in our database, so you can get similar movies for all of them. Dataset will be increased in future.
            </p>
    
            <h2 class="mt-2 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Content Based Movie Picker</h2>
            <p class=" text-gray-300 xl:mt-4 dark:text-gray-300">
              Similar Movie Picker is a content based movie picker which helps its users to find movies best suited to thier choices. We suggest movies based on your prefered movie.
    
            </p>
            <h2 class="mt-2 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Five Closest Similar Movie Suggestion</h2>
            <p class=" text-gray-300 dark:text-gray-300">
              Our Similar Movie Picker suggests five closest similar movies based on your prefered movie. These movies are picked based on the genre, ratings, theme, tags, cast, and popularity of the movie.
    
            </p>
            <h2 class="mt-2 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Unlimited Recommendations</h2>
            <p class="text-gray-300 dark:text-gray-300">
              MovieChooseForMe does not have any limit on the number of suggestions you can get per day. You can get as many suggestions as you want.
              
            </p>
            <h2 class="mt-2 text-xl font-semibold capitalize lg:text-2xl text-yellow-500">Upcoming: 170,000 Movies</h2>
            <p class="text-gray-300 dark:text-gray-300">
              We are working on increasing our dataset to 170,000 movies. You will get suggestions for all the movies in our database.
            </p>
        </div>
    </section>
      
      
      <div class="py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 py-6 lg:py-8 lg:px-8 bg-[#1c1c1cd6] md:rounded-2xl border-y-2 border-x-0 border-solid md:border-2 border-white">
            <div class="mx-auto max-w-2xl lg:text-center">
              <h2 class="text-base font-semibold leading-7 text-cyan-600">We Pick Movie For You</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-yellow-600 sm:text-4xl">Why to use ChooseMovieForMe<br> Recomemndation Sysytem</p>
              <p class="mt-6 text-lg leading-8 text-slate-300">ChooseMovieForMe is a movie picker which helps its users to find movies best suited to thier choices.</p>
            </div>
            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
              <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                <div class="relative pl-16">
                  <dt class="text-lg font-semibold leading-7 text-yellow-500">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-teal-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                      </svg>
                    </div>
                    Time-saving & Easy to use
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-slate-300">ChooseMovieForMe: Where a few clicks lead you to the perfect movie, fast and fuss-free!</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-lg font-semibold leading-7 text-yellow-500">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-sky-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                      </svg>
                    </div>
                    Free & no registration
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-slate-300">Dive into ChooseMovieForMe's sea of cinema with zero fees and no sign-up needed!</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-lg font-semibold leading-7 text-yellow-500">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-cyan-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                      </svg>
                    </div>
                    Special recommendations for movie dates
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-slate-300">ChooseMovieForMe: Spark romance with our handpicked flicks for your perfect movie date!</dd>
                </div>
                <div class="relative pl-16">
                  <dt class="text-lg font-semibold leading-7 text-yellow-500">
                    <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-emerald-600">
                      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                      </svg>
                    </div>
                    Only high-quality movies
                  </dt>
                  <dd class="mt-2 text-base leading-7 text-slate-300">Quality is our script — ChooseMovieForME brings only the finest films to your screen!</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

        <div class='w-3/4 flex flex-col items-center mx-auto bg-[#1c1c1cd6] mb-10 rounded-2xl border-solid border-2 border-white'>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-1"
              >
                <span class='text-yellow-500'>What is Similar Movie Picker?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-1"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                Similar Movie Picker is a tool of ChooseMovieForME movie suggestion website that suggests similar movies based on the user's prefered movie.
              </div>
            </div>
          </div>

          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-2"
              >
                <span class='text-yellow-500'>How many movies i can get similar movies?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-2"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                We have around 5000 movies in our database, so you can get similar movies for all of them. Dataset will be increased in future.
              </div>
            </div>
          </div>

          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-3"
              >
                <span class='text-yellow-500'>Can i get similar movie suggestions for Telugu Movies?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-3"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                Yes, you can get similar movie recommendation for Telugu Movies. Similar Movie Picker suggests English movies, Hindi movies, Tamil movies, and Telugu movies.
              </div>
            </div>
          </div>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-4"
              >
                <span class='text-yellow-500'>How many genre are supported by Similar movie picker?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-4"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                Similar Movie Picker supports all genres like Action, Adventure, Animation, Comedy, Crime, Documentary, Drama, Family, Fantasy, History, Horror, Music, Mystery, Romance, Science Fiction, TV Movie, Thriller, War, Western.
              </div>
            </div>
          </div>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-5"
              >
                <span class='text-yellow-500'>Do I need to create an account to use the service?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-5"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                No, you do not need to create an account to use Similar Movie Picker. Simply select a movie, and we’ll provide the recommendations.
              </div>
            </div>
          </div>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-6"
              >
                <span class='text-yellow-500'>Is Similar Movie Picker free to use?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-6"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                Yes, Similar Movie Picker is free to use for all visitors.
              </div>
            </div>
          </div>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-7"
              >
                <span class='text-yellow-500'>Can I search for similar movies by genre or year?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-7"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                You can get tailored recommendations from our <span class='font-semibold'><a href='{% url "mood" %}'>Mood Based Movie Recommender</a></span>. Just select year and genre, and we’ll provide the recommendations.
              </div>
            </div>
          </div>
          <div class="relative mb-3 w-full">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold md:text-lg text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="animated-collapse-8"
              >
                <span class='text-yellow-500'>How many suggestions can i get per day?</span>
                <i class="absolute right-0 pt-1 text-base transition-transform fa fa-chevron-down group-open:rotate-180"></i>
              </button>
            </h6>
            <div
              data-collapse="animated-collapse-8"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-slate-300">
                MovieChooseForMe does not have any limit on the number of suggestions you can get per day. You can get as many suggestions as you want. 
              </div>
            </div>
          </div>
          

     </div>

 
{% endblock %} 